<h1>Welcome from server</h1>

    <% if (blogs.length) { %>
        <h1>Blog List</h1>
        <% blogs.forEach(blog => { %>       
            <a href="/blogs/<%= blog._id %>">
                <h3><%= blog.title %></h3>
            </a>
            <p><%= blog.intro %></p>
            <form action="/blogs/delete/<%= blog.id %>" method="POST">
                <button class="blog-delete-btn" type="submit">Delete</button>
            </form>
        <% }) %>
    <% } %>